* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #FFF;
}

.container {
  height: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__body {
  padding-block: 44px;
  background: #FFF;;
}

.header__body-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
}

.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 8px;
  list-style-type: none;
}

.header__menu-link {
  padding: 14px 24px;
  color: #595959;
  text-decoration: none;
}


.button {
  display: inline-flex;
  justify-content: center;
  min-width: 116px;
  padding: 8px 16px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
  white-space: nowrap;
  background-color: #FFF;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
}

.button--accent {
  font-weight: 500;
  color: #FFFFFF;
  border-radius: 2px;
  background: #1890FF;
}

span {
  margin-right: 4px;
  width: 16px;
  height: 16px;
}

.basket {
  padding-top: 3px ;
}

footer {
  padding: 60px 0;
}

.footer__body-inner {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.footer__logo img {
  max-height: 36px;
  margin-right: 36px;
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-right: 450px;
}

.footer__menu-column {
  min-width: 103px;
  text-align: center;

}

.footer__menu-main-link {
  color: #595959;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  display: block;
}

.soc1als__list {
  display: flex;
  gap: 21px;
  list-style: none;
}

.soc1als__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}